*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/release/composeApp-release.aab
/composeApp/src/release/google-services.json
/composeApp/src/staging/google-services.json
/iosApp/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/dependencies.txt
/dependency-tree-diff.jar
/gradle/wrapper/gradle-wrapper.jar.sha256
