*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/apps/androidApp/src/release/google-services.json
/apps/androidApp/src/staging/google-services.json
/apps/composeApp/release/composeApp-release.aab
/apps/composeApp/src/release/google-services.json
/apps/composeApp/src/staging/google-services.json
/apps/iosApp/iosApp/GoogleService-Info.plist
/apps/iosApp/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/dependencies.txt
/dependency-tree-diff.jar
/gradle/wrapper/gradle-wrapper.jar.sha256
