name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew spotlessCheck

  build-android-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew assembleRelease

  tag-release:
    if: |
      contains(github.ref, 'bugfix/') ||
      contains(github.ref, 'feature/') ||
      contains(github.ref, 'release/') ||
      contains(github.head_ref, 'bugfix/') ||
      contains(github.head_ref, 'feature/') ||
      contains(github.head_ref, 'release/')
    needs: [ check-style, build-android-app ]
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Tag release
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: |
          ./gradlew release \
            -Pheron.releaseBranch=${{ steps.extract_branch.outputs.branch }} \
            -Prelease.customUsername=${{ github.actor }} \
            -Prelease.customPassword=${{ secrets.GITHUB_TOKEN }}
