name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew spotlessCheck

  build-android-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4

      - name: Create Release
        if: |
          startsWith(github.ref, 'refs/heads/bugfix/') ||
          startsWith(github.ref, 'refs/heads/feature/') ||
          startsWith(github.ref, 'refs/heads/release/')
        run: ./gradlew release -Pheron.versionCode=${{ github.run_number }}

      - name: Assemble Release
        run: ./gradlew assembleRelease -Pheron.versionCode=${{ github.run_number }}
