name: Build

on:
  push:
    branches:
      - main
      - releases
  pull_request:
  workflow_dispatch:

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - run: ./gradlew spotlessCheck

  build-android-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Create Google services file
        shell: bash
        run: |
          # Create the directory structure first to prevent 'No such file or directory' errors
          mkdir -p "${GITHUB_WORKSPACE}/composeApp/src/release/"

          # Write the secret into the file
          echo "$GOOGLE_SERVICES_JSON" > \
            "${GITHUB_WORKSPACE}/composeApp/src/release/google-services.json"

      - name: Build App
        run: ./gradlew assembleRelease
