name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  publish-android-app:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

#      - name: Build Unsigned AAB
#        run: ./gradlew spotlessCheck bundleRelease -Pheron.versionCode=${{ github.run_number }}

      - name: Sign AAB
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: composeApp/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY_BASE_64 }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Get play store upload credentials
        uses: google-github-actions/auth@v2
        id: auth
        with:
          project_id: 'heron-d0ff3'
          workload_identity_provider: projects/313045152492/locations/global/workloadIdentityPools/github/providers/github-actions-provider
          service_account: heron-play-store-publish@heron-d0ff3.iam.gserviceaccount.com

      - name: Upload to play store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: ${{ steps.auth.outputs.credentials_file_path }}
          packageName: com.tunjid.heron
          releaseFiles: ${{steps.sign_app.outputs.signedReleaseFile}}
          track: internal
          mappingFile: app/build/outputs/mapping/release/mapping.txt
          debugSymbols: app/intermediates/merged_native_libs/release/out/lib
