name: Publish

on:
  workflow_dispatch:

jobs:
  publish-android-app:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      id-token: 'write'
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Create Google services file
        shell: bash
        env:
          # Map the secret to a shell variable here
          GOOGLE_SERVICES_ENCODED: ${{ secrets.GOOGLE_SERVICES_BASE_64 }}
        run: |
          # Create the directory structure
          mkdir -p "composeApp/src/release/"

          # Decode the env variable into the file
          echo "$GOOGLE_SERVICES_ENCODED" | openssl base64 -d -A \
            -out "composeApp/src/release/google-services.json"

      - name: Build Unsigned AAB
        env:
          HERON_ENDPOINT: ${{ secrets.HERON_ENDPOINT }}
        run: |
          ./gradlew spotlessCheck \
            bundleRelease \
            -Pheron.versionCode=${{ github.run_number }} \
            -Pheron.isPlayStore=true \
            -Pheron.endpoint="$HERON_ENDPOINT"

      - name: Sign AAB
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: composeApp/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY_BASE_64 }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Get play store upload credentials
        uses: google-github-actions/auth@v2
        id: auth
        with:
          project_id: 'heron-d0ff3'
          workload_identity_provider: projects/313045152492/locations/global/workloadIdentityPools/github/providers/github-actions-provider
          service_account: heron-play-store-publish@heron-d0ff3.iam.gserviceaccount.com

      - name: Upload to play store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: ${{ steps.auth.outputs.credentials_file_path }}
          packageName: com.tunjid.heron
          releaseFiles: ${{steps.sign_app.outputs.signedReleaseFile}}
          track: internal
          mappingFile: composeApp/build/outputs/mapping/release/mapping.txt
          debugSymbols: composeApp/build/intermediates/merged_native_libs/release/mergeReleaseNativeLibs/out/lib


      - name: Extract signed APKs
        run: |
          curl -L -o bundletool.jar https://github.com/google/bundletool/releases/download/1.18.3/bundletool-all-1.18.3.jar
          java -jar bundletool.jar build-apks \
            --bundle=${{ steps.sign_app.outputs.signedReleaseFile }} \
            --output=composeApp/build/outputs/apk/release/heron.apks \
            --mode=universal

          unzip -o composeApp/build/outputs/apk/release/heron.apks -d composeApp/build/outputs/apk/release/

      - name: Upload to GitHub releases
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: Heron v${{ github.run_number }}
          files: composeApp/build/outputs/apk/release/universal.apk
          draft: true
          allow_updates: true
